body{
  background-color: white;
}
h1{
    font-family:sans-serif;
  
  }
  ul{
    list-style-type: disc;
    text-align: center;
    list-style-position: inside;
  } 
  li{color:gray;
    font-size: 20px;
    padding-left: 20px;
  }
  a {
    color: purple;
  }  